@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;
  --font-heading: "Caveat", Georgia, serif;

  --color-primary: #436e73;
  --color-detail: #81a2a6;
  --color-text: #2f403a;
  --color-border: #4d5952;
  --color-bg: #f2f2f2;
  --color-accent: #e59639;
}
